html{
background-image:url(background.png);
background-size:auto 100vh;
display:flex;
justify-content:center;
}
body{
width:65vw;
height:59vh;
overflow:auto;
background-color:rgba(50,50,50,0.5);
margin-top:17.5vh;
margin-bottom:17.5vh;
padding:3vh;
}
a{
color:#aaaaaa;
}
a:link{
text-decoration:none;
}
a:hover{
text-decoration:underline;
